<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'ChatBotApp' : title %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet prefetch'
          href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--STYLES END-->
</head>
<body>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<% include ../partials/header %>

<style>
    body {
        background: url('http://wallpaperscraft.com/image/london_ride_river_house_dock_9656_3840x2400.jpg?orig=3');
        margin: 0px;
        font-family: 'Ubuntu', sans-serif;
    }
</style>

<% if (success_msg ) { %>
<div class="alert alert-success"><%= success_msg %></div>
<% } %>
<% if (error_msg ) { %>
<div class="notice error"><%= error_msg %></div>
<% } %>
<% if (error ) { %>
<div class="notice error"><%= error %></div>
<% } %>
<br>
<br>
<br>
<div class="login">
    <div class="login-header">
        <h1>Login</h1>
    </div>
    <form action="/users/login" method="POST" class="login-form">
        <h3>Email Address:</h3>
        <input type="text" placeholder="email address" name="email"/>
        <h3>Password:</h3>
        <input id="password" type="password" placeholder="password" name="password"/>
        <br>
        <input type="submit" value="Login" class="login-button"/>
        <br>
        <br>
    </form>
</div>
</div>
<% include ../partials/footer %>

</body>
</html>
